@using Contentful.Core.Models

@model ContentfulCollection<Bikes>



@foreach (var bike in Model)
{
    <img src="@bike.BikeImage.File.Url" alt="@bike.BikeImage.Title" width="200"/>
    <h2>@bike.Brand</h2>
    <h2>@bike.BikeModel</h2>
    <h2>€ @bike.Price</h2>
    <p>@bike.BikeSite</p>
}

